<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link active" href="/dashboard">
                    <TelerikSvgIcon Icon="@SvgIcon.Home" />
                    Dashboard <span class="sr-only">(current)</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/backlog/my">
                    <TelerikSvgIcon Icon="@SvgIcon.User" />
                    My Items
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/backlog/open">
                    <TelerikSvgIcon Icon="@SvgIcon.Checkbox" />
                    Open Items
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/backlog/closed">
                    <TelerikSvgIcon Icon="@SvgIcon.CheckboxChecked" />
                    Done Items
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="#">
                    <TelerikSvgIcon Icon="@SvgIcon.TellAFriend" />
                    Users
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="#">
                    <TelerikSvgIcon Icon="@SvgIcon.FileReport" />
                    Reports
                </NavLink>
            </li>

        </ul>

    </div>
</nav>

